.container {
    position: relative;
    display: flex;
    justify-content: center;
}
.spin_list {
    display: flex;
    justify-content: center;
}

.img_container {
    position: absolute;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: rotateZ(0);
    transition: all 1s ease-out;
}

.img_background {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 2em;
    font-weight: bold;
    color: white;
    opacity: 0;
    cursor: pointer;
}
.img_background:hover {
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 1;
}

