.wrapper {
    position: relative;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 10px;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; /* So the width will be 100% + 17px */
}

.scenecanvas {
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    transform-origin: top left;
    z-index: 1;
}

.scene {
    /* opacity: 0; */
    background-color: white;
}

.scenemessage {
    position: absolute;
    text-align: center;
    font-weight: bold;
    z-index: 2;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    color: black;
    opacity: 0;
}

.messagebox {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.sticky_box {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
}

.intro_img {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.intro_img img {
    height: 100%;
}
