.container {
    display: flex;
    background-color: #fedad8;
}

.left,
.right {
    display: flex;
    width: 50%;
    padding: 30px;
    flex-direction: column;
}

.right_title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    transform: translate3d(-15px, -10px, 0);
}

.display_container {
    width: 100%;
}

/* Global Styles*/

.input_btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    border: 3px dashed #fedad8;
    color: #fedad8;
    background-color: #fdf1ef;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 30px;
}

.input_btn:hover {
    border-color: #ffb1ad;
    color: #ffb1ad;
}

.btn_focus {
    border-color: #ffb1ad;
    color: #ffb1ad;
}

/* Scene Container*/

.scene_container {
    background-color: #fdf7f7;
    border-radius: 15px;
    overflow: hidden;
}
.editor_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fcf0ee;
    padding: 15px;
}

.scene_name {
    font-weight: bold;
    font-size: 23px;
}

.info_btn {
    padding: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

.info_btn:hover {
    color: gray;
}

/* Setting Page */

.setting_page {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
}

.setting_title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

/* Video input */

.video_input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.video_setting {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.video_title {
    font-size: 20px;
    font-weight: bold;
}

/* Message Setting */

.message_input {
    margin-bottom: 20px;
}

.message_bar {
    display: flex;
    padding-left: 20px;
}

.btn_disabled {
    color: #fcf1ef;
    cursor: default;
}

.btn_disabled:hover {
    color: #fcf1ef;
}

/* Left Section */

.display_container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.display__box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5e4e1;
    flex-grow: 1;
    margin-bottom: 20px;
    border-radius: 20px;
}

.display {
    background-color: #fdf7f7;
    overflow-x: hidden;
    overflow-y: scroll;
}

.sizebar {
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.bar_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    font-weight: bold;
    color: white;
}

.bar_items {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    bottom: 100%;
}

.bar_item {
    background-color: #ffa9a2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 6px;
    cursor: pointer;
    user-select: none;
}

.bar_items .bar_item:hover {
    background-color: #f78277;
}
.bar_now {
    background-color: #f78277;
    border-radius: 10px;
    transition: all 0.1s linear;
}

.bar_now:hover {
    border-radius: 0px;
}

.bar_focus {
    border-radius: 0px;
}

.bar_container_focus {
    overflow: visible;
}
