.container {
  display: flex;
  justify-content: space-between; /* 왼쪽과 오른쪽 끝에 배치 */
  align-items: center;
  max-height: 100px;
}

.logo {
  padding-left: 20px;
  justify-content: start;
}

.login {
  padding-right: 20px;
  justify-content: end;
}
