.container {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  height: 100vh;
  background-color: rgb(245, 245, 245);
}

.imageContainer {
  display: flex;
  justify-content: center; /* 가운데 정렬 */
  align-items: center; /* 가운데 정렬 */
  overflow: hidden; /* 이미지가 컨테이너를 넘어갈 경우 숨김 */
  width: 100%; /* 컨테이너 전체 너비 사용 */
  height: 100%; /* 컨테이너 전체 높이 사용 */
}

.imageContainer img {
  max-width: 100%; /* 이미지가 컨테이너 너비를 넘지 않도록 설정 */
  max-height: 100%; /* 이미지가 컨테이너 높이를 넘지 않도록 설정 */
  object-fit: contain; /* 이미지 비율을 유지하면서 최대 크기에 맞춤 */
}

.message {
  position: absolute;
  top: 30%;
  left: 45%;
  transform: translate(-40%, -50%);
  font-size: 50px;
  color: black; /* 적절한 색상 설정 */
  font-weight: bold;
  opacity: 0; /* 초기에는 보이지 않도록 설정 */
  transition: opacity 1s ease; /* 부드러운 페이드 인 효과 */
}

.detailImage {
  position: absolute;
  top: 70%;
  left: 0%;
  width: auto;
  height: auto;
  transform: translate(0%, -50%);
  object-fit: contain; /* 이미지 비율을 유지하면서 최대 크기에 맞춤 */
  opacity: 0; /* 초기에는 보이지 않도록 설정 */
  transition: opacity 1s ease; /* 부드러운 페이드 인 효과 */
}
/* Comp1.module.css */

.detailImage img {
  max-width: 100%; /* 이미지의 최대 너비 설정 */
  max-height: auto; /* 이미지의 최대 높이 설정 */
  width: auto; /* 이미지 너비 자동 조절 */
  height: auto; /* 이미지 높이 자동 조절 */
  object-fit: contain; /* 이미지가 비율을 유지하도록 함 */
}

.fadeIn {
  opacity: 1; /* 애니메이션 클래스가 적용되면 보이도록 설정 */
}
